.custom-arrow {
    color: black;
    background: #e0e0e0;
    position: absolute;
    top: 40%;
    z-index: 2;
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px rgba(100, 100, 100, 1);
    font-size: 23px;
    z-index: 1;
    padding: 4px 10px 8px;
    border-radius: 50% 50%;

}

.custom-arrow.next {
  right: -50px;
}

.custom-arrow.prev {
  left: -50px;
}

.slick-slider {
    display: flex !important;
}
.project-section {
    background: linear-gradient(90deg, #0c2a48 0%, #000407 100%);
    color: white;
    padding: 60px 0;
}