.home-section {
    height: 89vh;
    background: linear-gradient(90deg, #0c2a48 0%, #000407 100%);

}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 768px) {

    .home-section {
        height: 94vh;
    }
    .profile-img {
        margin-top: 30px;
        border-radius: 20px !important;
    }
}

.social-icon {
    font-size: 2rem;
    transition: 0.3s ease;
}

.social-icon:hover {
    opacity: 0.9;
}

.dot-animation-wrapper {
  height: 60vh;
  min-height: 300px;
  position: relative;
}